.Home {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
   font-size: large;
}
.Home {
   height: 100vh; 
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
}