*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
   /* width: 100%;
   height: 100vh; */
   /* background: burlywood; */
   display: flex;
   align-items: center;
   justify-content: center;
}
form{
   /* background: cornsilk; */
   width: 600px;
   height: 55px;
   display: flex;
}
form input{
   flex: 1;
   border: none;
   outline: none;
   padding-left: 10px;
}
form button{
   background: rgb(235, 172, 12);
   padding: 10px 50px;
   border: none;
   outline: none;
   color: #fff;
   letter-spacing: 1px;
   cursor: pointer;
}
